.about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    width: 95%;
}



.about-element {
    flex: 0 1 auto;
    padding: 5px;
}


.about-container h2 {
    color: #72147e; 
}


.about-photo {
    flex: 0 1 auto;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}

.about-emphesis {
    color: #f21170;
    font-weight: bold;
}

.big {
    font-size: large;
}