@media (max-width: 425) {
  .header {
    font-size: 2em;    
  }
}

body {
  background-color: rgb(168, 35, 168);
  margin: 0;
  padding: 2rem;
  color: black;

}


::selection {
  background: #0080FF;
  text-shadow: none;
}


.header pre {
  margin: 0;
  font-family: 'Menlo', 'Monaco', monospace;
}


.header {
  color: white;
  opacity: .90;
  padding-top: 7vh;
  text-align: center;
  font-size: 2.8em;
  font-weight: 600;
  
}

.menu-box {
  padding: 30px;
  background-color: rgb(191, 190,190);
  border: solid black 1.5px;
  position: relative;
  cursor:'pointer'
}

.outer-menu-box {
  background-color: rgb(191, 190,190);
  width: 65%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  box-shadow: 15px 15px rgba(0, 0, 0, .6);
  margin-bottom: 200px;
}

.menu-button {
  padding: 3px;
  font-size: large;
}

.selected.menu-button {
  background-color: rgb(140,26,17); 
  color: rgb(191, 190,190);
  transition: 0.1s;
}

.box-title {
  position: relative;
  background-color: rgb(191, 190,190);
  top: -55px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -25px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
  font-size: 1.2em;
  width: fit-content; 
}

#background-vid {
  position: fixed;
  width: 100%;
  height: 100%; 
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(5px);
}


.project-holder {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

