body {
  background-color: rgb(1, 0 , 171);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: black;

}


::selection {
  background: #0080FF;
  text-shadow: none;
}


.header pre {
  margin: 0;
  font-family: 'Menlo', 'Monaco', monospace;
}


.header {
  color: whitesmoke;
  padding-top: 7vh;
  text-align: center;
  font-size: 2.5em;
  
}

.menu-box {
  padding: 30px;
  background-color: rgb(191, 190,190);
  border: solid black 1.5px;
}

.outer-menu-box {
  background-color: rgb(191, 190,190);
  width: 65%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  box-shadow: 15px 15px black;
  position: relative;
}

.menu-button {
  padding: 3px;
}

.selected.menu-button {
  background-color: rgb(140,26,17); 
  color: rgb(191, 190,190);
}

.box-title {
  position: absolute;
  background-color: rgb(191, 190,190);
  top: -15px;
  padding-top: 0px;
  font-size: 1.2em;
  right: 45%;
  
}