body {
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: black;
  font: 1.3rem Inconsolata, monospace;

}


::selection {
  background: #0080FF;
  text-shadow: none;
}

.terminal {

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    pointer-events: none;
}



pre {
  margin: 0;
}


.header {
  color: #07b034;
  padding-top: 7vh;
  text-align: center;
  font-size: 2.5em;
  
}

.terminalUser {
  color: rgb(0, 128, 0);
}