.project-card {
    flex: 1 1;
    padding: 10px;
    margin: 20px;
    border-bottom: 3px solid grey;
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.project-element {
    flex: 1 1 auto;
    padding: 10px;
}


.post-content a {
    color: #ff8f0f;
}


.project-card h2 {
    margin-top: 5px;
    color: #72147e;
}

.project-text {
    flex: 5 1 70%;
    padding: 10px;
}

.project-image {
    flex: 1 4 30%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    max-height: 250px;

}