.post-content-resume {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    width: 95%;
}

.resume-element {
    flex: 0 1 auto;
    padding: 10px;
}


.resume-element h1 {
    color: #72147e;
}

.resume-element h4 {
    margin-top: 0px;
    color: #f21170;
    margin-bottom: 5px;
}

.resume-element h5 {
    margin-bottom: 3px; 
}

.resume-element ul {
    margin-top: 2px;
}


.resume-element h2 {
    color: #72147e; 
    margin-bottom: 10px;
}

.no-margin {
    margin: 0px;
}


.resume-photo {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}